<ion-header>
  <ion-toolbar>
    <ion-title>{{detailjudul}}</ion-title>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <!-- <button (click)="goback()" style="margin:0px; padding:8px; background-color:red; border:none; color:white; border-radius:50px;">back</button> -->

  <div style="margin:10px;">
    <h6>{{tglcreate}}</h6>
    <div style="overflow: auto; width:100%">{{isicatatan}}</div>
  </div>
</ion-content>
